/*------------------------------------*\
    Project Name
\*------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * 01. Imports............Imported files, like partials, variables, Compass etc.
 * 02. Tags...............Like <body>, <h1> etc.
 * 03. Helpers............The general styles like .push-down-15 etc.
 */



/*------------------------------------*\
    Imports
\*------------------------------------*/


/**
 * Project variables
 */

@import "vars";


/**
 * Twitter Bootstrap
 *
 * Remove what is not neccessary
 */

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";




/*------------------------------------*\
    Tags
\*------------------------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



/*------------------------------------*\
    Helpers
\*------------------------------------*/

// generates styles: .push-down-5 {margin-bottom: 5px;}, .push-down-10 {margin-bottom: 10px;} etc. to 60px
@for $i from 0 through 12 {
  $i5 : $i*5;
  .push-down-#{$i5} {
    margin-bottom: 5px * $i;
  }
}
.btn {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*------------------------------------*\
    [another title block, rename it]
\*------------------------------------*/

